{% extends "base.html" %}
{% block head %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAH0IStyKYvGwZXcreV0mSshT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSfhDz6JAIkpuDoLpccw_MDXkcQMg" type="text/javascript"></script>

    <script type="text/javascript">

    var map;
    var gdir;
    var geocoder = null;
    var addressMarker;
    
    function initialize() {
      if (GBrowserIsCompatible()) {      
        map = new GMap2(document.getElementById("map_canvas"));
        gdir = new GDirections(map, null);
        GEvent.addListener(gdir, "load", onGDirectionsLoad);
        GEvent.addListener(gdir, "error", handleErrors);
    
        setDirections("Santa Cruz de Tenerife, Tenerife, España", "San Cristóbal de La Laguna, Tenerife, España", "es_ES");
      }
    }
    
    function setDirections(fromAddress, toAddress, locale) {
      gdir.load("from: " + fromAddress + " to: " + toAddress,
                { "locale": locale });
    }
    
    function handleErrors(){
      //boton = document.getElementById("submit");
      //boton.style.hidden = true;
      alert("Direcciones erróneas o desconocidas.");
	  //  \nError code: " + gdir.getStatus().code    	      
    }
    
    function onGDirectionsLoad(){
        // Use this function to access information about the latest load()
        // results.
    
        // e.g.
        // document.getElementById("getStatus").innerHTML = gdir.getStatus().code;
      // and yada yada yada...
    }

    </script>
    <script language="JavaScript" src="/js/calendar_us.js"></script>
	<link rel="stylesheet" href="/css/calendar.css">
    
{% endblock %}
{% block title %}Index {% endblock %}
{% block bodyoptions %} 
	 onload="initialize()"
	 onunload="GUnload()" style="font-family: Arial;border: 0 none;"
{% endblock %}
{% block content %}
<!-- <h1>Sistema Multi-Agente de información turística</h1>
	<hr/>
	<form action="thanks" method="post">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
		
	</table>
		<input type="submit" value="Enviar">
	</form> -->
	
	<h2>User Agent</h2>
	<h3>Elija su destino</h3>
	<br/>
	<p> {{ form2.errors }}</p>
	<br/>
	<form action="/user/" method="post" name="initialForm">
	{% csrf_token %}
      <table>
        <tr>
          <th align="left">Desde:</th>
          <td>
	      	<!-- País de Origen -->
	      	<select id="{{ form2.paisOrigen.html_name }}" name="{{ form2.paisOrigen.html_name }}" size="1" style="width: 320px;" onChange="updatecities(document.getElementById('{{ form2.ciudadOrigen.html_name }}'), this.selectedIndex)" >
				<option value="" selected="selected">Seleccione un país...</option>
			</select>
		  </td>
	      <td>
			<!-- Ciudad de Origen -->
			<select id="{{ form2.ciudadOrigen.html_name }}" name="{{ form2.ciudadOrigen.html_name }}" size="1" >
				<option value="" selected="selected">Seleccione una ciudad...</option>
			</select>
          </td>
        </tr>
        <tr>
          <th align="left">Hasta:</th>
          <td>
	      	<!-- País de Destino -->
    	  	<select id="{{ form2.paisDestino.html_name }}" name="{{ form2.paisDestino.html_name }}" size="1" style="width: 320px;" onChange="updatecities(document.getElementById('{{ form2.ciudadDestino.html_name }}'), this.selectedIndex)" >
				<option value="" selected="selected">Seleccione un país...</option>
			</select>
		  </td>
	      <td>
			<!-- Ciudad de Destino -->
			<select id="{{ form2.ciudadDestino.html_name }}" name="{{ form2.ciudadDestino.html_name }}" size="1" >
				<option value="" selected="selected">Seleccione una ciudad...</option>
			</select>
          </td>
        </tr>
        </table>
        <table>
        <tr>
          <th align="left">Fecha de salida:</th>
          <td colspan="3">
          	<input type="text" size="10" id="{{ form2.fechaSalida.html_name }}" name="{{ form2.fechaSalida.html_name }}" />
          	</td>
          <td>
          	<script language="JavaScript">
				new tcal ({
				'formname': 'initialForm',
				'controlname': '{{ form2.fechaSalida.html_name }}'
				});
			</script>
          	
          </td>
        </tr>
        
        <tr>
          <th align="left">Fecha de vuelta:</th>
          <td colspan="3">
          	<input type="text" size="10" id="{{ form2.fechaLlegada.html_name }}" name="{{ form2.fechaLlegada.html_name }}" />
          </td>
          <td>
          	<script language="JavaScript">
				new tcal ({
				'formname': 'initialForm',
				'controlname': '{{ form2.fechaLlegada.html_name }}'
				});
			</script>
          	
          </td>
        </tr>
        </table>
        <br/><input name="submit" type="submit" value="Buscar" />
     
    </form>
    <br/><br/>
    <div id="map_canvas"></div>
    <script type="text/javascript">
	   		var countries = new Array();
	   		{% for c in countries %}
	   			
	   			countries[countries.length] = 
	   				["{{ c.name }}", "{{ c.isocode }}", [ "Seleccione una ciudad...|" {% for a in c.getAirports %} ,"{{ a.city }} - {{ a.name }}|{{ a.iatacode}}" {% endfor %} ]];

	   		{% endfor %}
	   		
	   		/* Selectores de los países de origen y destino */
	   		var countryListOrigen = document.getElementById("{{ form2.paisOrigen.html_name }}");
	   		var countryListDestino = document.getElementById("{{ form2.paisDestino.html_name }}");
	   		
	   		/* Número de paíse dados de alta */
	   		var numOfCountries = countries.length;
	   		
 			for (i = 1; i < numOfCountries; i++)
			{
 				countryListOrigen.options[i] = new Option(countries[i][0], countries[i][1], false, false);
 				countryListDestino.options[i] = new Option(countries[i][0], countries[i][1], false, false);
			}
	   		
	   		function updatecities(combo, selectIndex)
	   		{
	   			combo.options.length = 1;
	   			if (selectIndex > 0)
	   			{
	   				var numOfAirports = countries[selectIndex][2].length;
	   				for (i = 0; i < numOfAirports; i++)
	   					combo.options[i] = new Option(countries[selectIndex][2][i].split("|")[0], countries[selectIndex][2][i].split("|")[1])
	   			}
	   		}
	 </script> 
{% endblock %}

