<html>
	<head>
	<title>Sistema Multi-Agente de información turística</title> 
	    <link rel="stylesheet" type="text/css" href="/css/flight.css" /> 
	</head>
	<body>
		<h1>Vuelos disponibles</h1>
		<hr/>
		<form action="thanks" method="post">
		{% csrf_token %}
			<div class="vuelo">
			<table border="1">
				<tr>
					<td>IsoCode</td>
					<td>Name</td>
				</tr>
				{% for c in country %}
				<tr>
					<td> {{ c.isocode }} </td>
					<td> {{ c.name }} </td>
				</tr>
				{% endfor %}
			</table>
			</div>
			<input type="submit" value="Enviar">
		</form>
	</body>
</html> 