{% extends "base.html" %}
{% block title %}Localizador{% endblock %}
{% block head %}

{% endblock %}
	
{% block bodyoptions %} onload="javascript:initialize()" {% endblock %}

{% block section %} Im&aacute;genes {% endblock %}

{% block content %}

hola
		</br>
		
<iframe
   src="http://www.panoramio.com/wapi/template/list.html?tag={{ destino }}&amp;width=700&amp;height=100&amp;columns=10&amp;rows=1&amp;orientation=horizontal"
   frameborder="0" width="700" height="100" scrolling="no" marginwidth="0" marginheight="0">
</iframe>
		

		
{% endblock %}
