{% extends "base.html" %}
{% block title %}Localizador{% endblock %}
{% block head %}
	<script type="text/javascript" src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAAH0IStyKYvGwZXcreV0mSshT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSfhDz6JAIkpuDoLpccw_MDXkcQMg"></script>
	<script type="text/javascript">
	function initialize() {
		  if (GBrowserIsCompatible()) {
		    var map = new GMap2(document.getElementById("map_canvas"));
			var geocoder = new GClientGeocoder();
			
			if (geocoder) {
			       geocoder.getLatLng(
			         "{{ nombreCiudadDestino }}, {{pais_destino}}",
			         function(point) {
			           if (!point) {
			             alert(address + " not found");
			           } else {
			             map.setCenter(point, 15);
			             var marker = new GMarker(point);
			             map.addOverlay(marker);
			             marker.openInfoWindowHtml(address);
			           }
			         }
			       );
			     }

		    map.addControl(new GSmallMapControl());
		    map.addControl(new GMapTypeControl());
		  }
		}
	
	</script> 
{% endblock %}
	
{% block bodyoptions %} onload="javascript:initialize()" {% endblock %}

{% block section %} Men&uacute; {% endblock %}

{% block content %}

		<!-- <ul>
			<li><a href={{ guide_url }}> Agente Guía</a></li>
			<li><a href={{ flight_url }}> Agente de vuelos</a></li>
			<li><a href={{ hotel_url }}> Agente de hoteles</a></li>
			<li><a href={{ image_url }}> Agente de imágenes</a></li>
		</ul> -->
		
		<a href="{{ guide_url }}"><img src="/img/guide_icon.png"/> Agente Gu&iacute;a</a>
		<a href="{{ flight_url }}"><img src="/img/flight_icon.png"/> Agente de vuelos</a>
		<a href="{{ hotel_url }}"><img src="/img/hotel_icon.png"/> Agente de hoteles</a>
		<a href="{{ image_url }}"><img src="/img/images_icon.png"/> Agente de im&aacute;genes</a>
		</br>

        <h2> Localizador </h2> <br />

		<div id="map_canvas" style="width: 100%; height: 500px"></div>
		
{% endblock %}

